@using HelpdeskSystem.Models
@model HelpdeskSystem.Models.Ticket


@{
    ViewBag.Title = "Details";
}

<h3>Zgłoszenie nr @Model.Id - szczegóły</h3>

<h5><b>Dodane przez</b> @Model.Profile.Firstname @Model.Profile.Lastname - @Model.CreatedDate</h5>

<h4>
    @if (@Model.Status.ClosingTicket)
    {
        <span class="label label-danger">@Model.Status.Name</span>
    }
    else
    {
        <span class="label label-success">@Model.Status.Name</span>
    }
</h4>
<h3>Tytuł zgłoszenia: @Model.Subject</h3>
<blockquote>
    <h5>
        <b>
            Treść zgłoszenia:
        </b>
        <p>
            @Model.Content
        </p>
    </h5>
</blockquote>
<h4>Dyskusja</h4>
@if (@Model.Comments.Any())
{
<div class="panel panel-primary">
    @foreach (var comment in Model.Comments)
    {
        <div class="panel-heading">
            <h6>
                <b>
                    @comment.Profile.Firstname
                    @comment.Profile.Lastname
                </b>
                @comment.CreatedDate
                
            </h6>
        </div>
        <div class="panel-body"><p>@comment.Content</p></div>

    }
</div>
}
else
{
    <div class="panel panel-default">
        <div class="panel-body"><p>Pusto</p></div>
    </div>
}
    <button class="btn btn-primary" data-toggle="collapse" data-target="#commentForm">Dodaj komentarz</button>
    @{ Html.RenderAction("Create", "Comment", new { ticketId = Model.Id }); }

@if (Model.Attachment != null)
{
    <button data-toggle="collapse" data-target="#attachment">Pokaż / ukryj</button>

    <div id="attachment" class="collapse">
        <img src="~/Attachments/@Model.Attachment" alt="" height="100px" width="100px" />
    </div>
}
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>



