@using HelpdeskSystem.Models
@model HelpdeskSystem.Models.Ticket


@{
    ViewBag.Title = "Details";
}

<div id="imgModal" class="modal">


    <span id="x" class="close">&times;</span>


    <img class="modal-content" id="img01">


    <div id="caption"></div>
</div>
<h3>Zgłoszenie nr @Model.Id - szczegóły</h3>

<h5><b>Dodane przez</b> @Model.Profile.Firstname @Model.Profile.Lastname - @Model.CreatedDate</h5>

<h4>
    <span class="label @Model.Status.LabelStyle">@Model.Status.Name</span>
</h4>
@if (User.IsInRole("Staff") || User.IsInRole("Admin"))
{
    switch (Model.StatusId)
     {
         case 1:
             <p>
                 @Html.ActionLink("Obsługuj", "Support", new { id = Model.Id }, new { @class = "btn btn-default" })
             </p>
             break;
         case 2:
             <p>
                 @Html.ActionLink("Zamknij", "Close", new { id = Model.Id }, new { @class = "btn btn-default" })
             </p>
             break;
         case 3:
             <p>
                 @Html.ActionLink("Otwórz ponownie", "Open", new { id = Model.Id }, new { @class = "btn btn-default" })
             </p>
             break;
     }
}


<h3>Tytuł zgłoszenia: @Model.Subject</h3>
<blockquote>
    <h5>
        <b>
            Treść zgłoszenia:
        </b>
    </h5>
    <h5>
        @Model.Content
    </h5>
</blockquote>
@if (Model.Attachment != null)
{
    <button class="btn btn-warning" data-toggle="collapse" data-target="#attachment">Pokaż / ukryj załącznik</button>

    <div id="attachment" class="collapse" style="margin: 20px">
        @if (ViewBag.AttType == 1)
        {
            <img id="attachmentImg" src="~/Attachments/@Model.Attachment" alt="Załącznik do zgłoszenia" height="150px" width="150px"/>
        }
        @if (ViewBag.AttType == 2)
        {
            <a href="~/Attachments/@Model.Attachment">Pobierz załącznik (@Model.Attachment)</a>
        }
        
    </div>
}
<h4>
    Dyskusja
    @if (@Model.Comments.Any())
    {
        <img src="~/Resources/reverse.png" alt="Odwróć sortowanie" height="25" width="25"
             onclick="location.href = '@Url.Action("Details", "Tickets", new {id = Model.Id, commentsDescending = !ViewBag.CommentDescendind})';return false;" />
    }
</h4>

@if (@Model.Comments.Any())
{

    <div class="panel panel-primary">
        @foreach (var comment in Model.Comments)
        {
            <div class="panel-heading">
                <h6>
                    <b>
                        @comment.Profile.Firstname
                        @comment.Profile.Lastname
                    </b>
                    @comment.CreatedDate

                </h6>
            </div>
            <div class="panel-body"><p>@comment.Content</p></div>

        }
    </div>
}
else
{
    <div class="panel panel-default">
        <div class="panel-body"><p>Pusto</p></div>
    </div>
}
@if (Model.StatusId == 2)
{
    <button class="btn btn-primary" data-toggle="collapse" data-target="#commentForm">Dodaj komentarz</button>
    Html.RenderAction("Create", "Comment", new { ticketId = Model.Id });
}
@Styles.Render("~/Content/Gallery.css")
@Scripts.Render("~/Scripts/Gallery.js")


<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id })<text> | </text>
    }

    @Html.ActionLink("Powrót do listy", "Index")
</p>



